li{
  list-style-type: none;
}
body{
  background-color:#FFF;
}

.nav-item a {
  line-height: 120px;
}

li.col-sm-4{
  margin-bottom:30px;
}

.navbar{
  width:100%;
  height:150px;
  border-bottom: 1px solid #643410;
}

.navbar a{
  color:#643410;
  line-height: 118px;
}

.nav>li>a:hover{
  background-color: #643410;
  opacity: 0.5;
  color:white;
}

#logo{
  padding-bottom: 20px
}

#homeImg{
  width:100%;
  height:550px;
  margin-top:-20px;

/*  margin-top: 50px;*/
  border-bottom: 1px solid #643410;

}

.navbar-brand {
  text-align: center;
}

#flag{
  height:100px;
  width: 100px;
  text-align: center;
}

#footerBox{
  margin-top: 25px;
  text-align: center;
}

table, th, td {
    border: 1px solid black;
    text-align: center;
}

th, td {
    width:100px;
    padding:5px;
}

#total{
  width:100px;
  border:1px solid black;
}

/*footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}*/

#address{
  margin-top:15px;
}

#address p{
  color:#643410;
}

#cartBox{
/*  border:2px solid #643410;*/
  margin-right:20px;
  padding:5px;
}

#cartBox span{
  margin-right: 5px;
}

.navbar-right li a {
  margin-top: 0px;
}

.removeBut{
  background-color: #d55d0e;
}

h1{
  color:#643410;
}

.btn{
  background-color:#d55d0e;
  color:white;
}

.submit{
  margin-top:20px;
}

label{
  color:#643410;
}

input{
  margin-bottom:7px;
}

.aboutPics{
  margin-left:-70px;
}

#paragraph{
  margin-top:30px;
}

.aboutPics img{
  border-radius:8px;
}

#paragraph li{
  margin-bottom:20px;
}

#treeDescrip{
  text-align: center;
  margin-bottom: 20px;
}

#cart{
  margin-bottom: 200px;
}

.thankyou{
  text-align:center;
}