<div class="container">

<h1>About us</h1>

<p>At Carboor Harvest we are passionate about bringing premium Australian hazelnuts to the discerning, quality seeking consumer.  
For too long, Australian consumers have been limited to finding fresh Australian hazelnuts at farmer’s markets, or accepting inferior Turkish nuts from previous seasons.  Flavoured nuts commonly contain more corn starch than actual nut.</p>

<p>Founded only in 2015, we are growing as a premium hazelnut producer and manufacturer – launching a range of premium flavoured nuts, oils and butters (hazelnut as well as almond and walnut).</p>

<div class="container">
  <ul class="aboutPics">
    <li class="col-sm-4"><img src="public/images/ordhard%201.jpg" width="350" height="300"></li>
    <li class="col-sm-4"><img src=public/images/orchard%205.jpg width="350" height="300"></li>
    <li class="col-sm-4"><img src="public/images/ochard%204.jpg" width="350" height="300"></li>
  <ul>
</div>

<div id="paragraph">

<p id="treeDescrip">By 2016, we directly manage over 12,000 trees (as well as over 5,000 managed by our associates) with significant plans for expansion.</p>

<h4><strong>Our Product Range:</strong></h4>

  <ul>

    <li><strong>Cold pressed extra virgin 100% nut oils</strong> - made from lightly roasted nuts, including hazelnut, almond or walnut.  All Carboor Harvest oils are vegan, dairy and gluten free.</li>

    <li><strong>Premium whole nut butters</strong> – made with lightly roasted nuts, organic coconut oil and organic coconut sugar.  Available in hazelnut, almond and walnut flavours.</li>

    <li><strong>Premium whole nut butters with chocolate</strong> – made with lightly roasted nuts, organic coconut oil, organic coconut sugar and organic cocoa.  Available in hazelnut, almond and walnut flavours.  Our hazelnut butter with chocolate contains more than double the quantity of nuts compared to a leading brand.</li>

    <li><strong>Double roasted whole hazelnuts</strong> – delicious flavoured snack with a choice of maple, Himalayan rock salt, wasabi and chilli.  Does not contain the corn starch filler used by many brands.

    <li><strong>Gluten free flour</strong> – premium, finely ground flour made of nuts, rice and buckwheat.</li>

  </ul>

  </div>
</div>