<div class="container">
<h1>Login</h1>
<section id="login">
  <form ng-submit="users.login()" class="form-group" novalidate>
    <label for="email">Email</label>
    <input class="form-control" type="text" name="email" placeholder="Email" ng-model="users.currentUser.email">

    <label for="password">Password</label>
    <input class="form-control" type="password" name="password" placeholder="Password" ng-model="users.currentUser.password">

    <button class="btn btn-secondary submit" type="submit" value="Login">Submit</button>
  </form>
</section>
</div>