<div class="container">
<h1>Register</h1>
<section id="register">
  <form ng-submit="users.register()" class="form-group" novalidate>
    <label for="username">Username</label>
    <input class="form-control" type="text" name="username" placeholder="Username" ng-model="users.currentUser.username">

    <label for="email">Email</label>
    <input class="form-control" type="email" name="email" placeholder="Email" ng-model="users.currentUser.email">

    <label for="password">Password</label>
    <input class="form-control" type="password" name="password" placeholder="Password" ng-model="users.password">

    <label for="passwordConfirmation">Password Confirmation</label>
    <input class="form-control" type="password" name="passwordConfirmation" placeholder="Retype password" ng-model="users.passwordConfirmation">

    <button type="submit" value="Register" class="btn btn-secondary submit">Submit</button>
  </form>
</section>  
</div>